.header {
  align-items: center;
  border-bottom: 5px solid #253a76;
  display: flex;
  flex-direction: row;
  padding: 4px 10px;
}

.logo {
  height: 62px;
}

.word-mark {
  color: #253a76;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 2;
}

.toggle {
  bottom: 8px;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 8px;
  z-index: 3;
}
