html,
body,
:global(#root) {
  height: 100%;
  margin: 0;
  width: 100%;
}

body,
:global(#root) {
  display: flex;
  flex: 1;
  flex-direction: column;
}

:root {
  --primary: #0097c4;
  --secondary: #243a76;
}
