.tooltip {
  align-items: center;
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 4px;
  box-shadow: 2px 2px 2px -2px;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  padding: 8px;
  position: absolute;

  .percentage {
    font-weight: bold;
  }
}
